*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* main container */
.container{
    width: 80%;
    background-color: bisque;
    text-align: center;
    margin: 0 auto;
    padding-top:10px ;
}

/* formato images */
img{
    width:280px;
    height: 400px;
    /* margin-bottom:20px; */
}

/* row */
.row{
    display: inline-block;
}

.product{
    position: relative;
    display: inline-block;
}


/* devo fare class absolute e relative */
.sconto{
    position: absolute;
    z-index: 1;
    color:white;
    font-size:10px ;
    padding: 5px 10px;
    font-weight: 600;

    bottom:80px;
    left: 0;
    /* add class red  */
    background-color: red;
   

}

.categoria{
    position: absolute;
    z-index: 1;
    color: white;
    font-size:10px;
    padding: 5px 10px;
    font-weight:600;

    bottom:80px;
    left: 50px;
    background-color: green;
   
}

.heart{
    position: absolute;
    z-index: 1;
    right: 0;
    background-color: blue;
    width: 25px;
    height: 25px;
    font-size: 20px;
}

/* descrizione sotto img */
.description{
    text-align: left;
}

.brand{
    font-size: 10px;
    
}

.style-prd{
    font-size:15px;
    font-weight:600;
    font-style: bold;
}

.price-new{
    font-size: 10px;
    color:red;
}

.price-old{
    font-size: 10px;

}